 .topnav{
    background-color: none;
    overflow: hidden;
    margin:0;   
}


.topnav a{
    float: left;
    color: black;
    text-align: center;
    padding: 12px 110px;
    text-decoration: none;
    font-size: 17;
    font-family: 'Blinker', sans-serif;
}


body{
background-color: gray;

}

#basic {
 text-align: center;
 margin: 10px;
 border: solid 3px;
 border-radius: 25px;
 width: 300px;
 font-family: 'Blinker', sans-serif;
 text-decoration: underline;
}

#basic > p{
    color: black;
    font-weight: bold
}

#aboutme{
    border: solid 3px;
    border-radius: 25px;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    width: 800px;
}

#aboutme > p{
    font-size: 20px
}

img{
    margin-top: 10px;
}

@media (max-width: 600px) {
    #basic{
        width: 90%;
    }
    #aboutme{
        width: 90%;
    }
    #content > a{
        display: flex;
        justify-content: column;
        
        
    }
}